<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjective Short Answers </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="text-center mt-5">
        <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 75px;">Short Answers Evaluator</h1>
      </div>

      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
              <div class="container">
                <form id="contact-form" role="form" >
                  <div class="controls">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="form_need"
                            >Select Your Question</label
                          >
                          <select onchange="myfunction()"
                            id="form_need"
                            name="need"
                            class="form-control"
                            required="required"
                            data-error="Please specify your need."
                          >
                            <option value="0" selected disabled>
                              --Select Your Issue--
                            </option>
                            <%
                                for (let i = 0; i<questions.length; i++) {
                            %>
                            <option value= <%= i %>><%= questions[i] %></option>
                                <% } %> 
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="form_message">Sample Answer</label>
                          <textarea
                            id="form_message"
                            name="sampleAns"
                            class="form-control"
                            placeholder="Sample Answer  "
                            rows="4"
                            required="required"
                            data-error="Please, leave us a message.",
                          ><%=sampleAns%></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="form_message">Student Answer</label>
                          <textarea
                            id="form_message"
                            name="studentResp"
                            class="form-control"
                            placeholder="Write students Answer Here "
                            rows="4"
                            required="required"
                            data-error="Please, leave us a message."
                          ><%=studentResp%></textarea>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <input
                          type="submit"
                          class="btn btn-success btn-send pt-2 btn-block"
                          value="Predict Grade"
                          formmethod="post"
                          formaction="/predict"
                        />
                      </div>

                      <div class="predict" style="margin-top: 10px; margin-left: 13px;">
                        <% if(grade!=-1) { %>
                        <h3>Grade: <%= grade %></h3> 
                        <h3>Cosine Similarity: <%= parseFloat(similarityScore).toFixed(2) %></h3> 
                        <h3>Final Marks: <%=   parseFloat(finalMarks).toFixed(2) %></h3> 
                        <% } %>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.8 -->
        </div>
        <!-- /.row-->
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
const answers = [
    "A problem can be solved in more than one ways. So, many solution algorithms can be derived for a given problem. We analyze available algorithms to find and implement the best suitable algorithm.",
    "An algorithm is generally analyzed on two factors time and space. That is, how much execution time and how much extra space required by the algorithm.",
    "A linear data structure has sequentially arranged data items. The next time can be located in the next memory address. It is stored and accessed in a sequential manner. Array and list are examples of linear data structures.",
    "The following operations are commonly performed on any data-structure: Insertion adding a data item; Deletion  removing a data item; Traversal accessing and/or printing all data items; Searching finding a particular data item; Sorting arranging data items in a pre-defined sequence.",
    "There are three commonly used approaches to develop algorithms  Greedy Approach  finding a solution by choosing the next best option; Divide and Conquer  dividing the problem to a minimum possible sub-problem and solving them independently; Dynamic Programming dividing the problem to a minimum possible sub-problem and solving them combinedly.",
    "The below-given problems find their solution using divide and conquer algorithm approach  Merge Sort; Quick Sort; Binary Search; Strassen's Matrix Multiplication; Closest pair (points).",
    "Stacks follow the LIFO method, and addition and retrieval of a data item take only Ο(n) time. Stacks are used where we need to access data in reverse order or their arrival. Stacks are used commonly in recursive function calls, expression parsing, depth-first traversal of graphs, etc.",
    "The below operations can be performed on a stack  enqueue()  adds an item to the rear of the queue; dequeue()  removes the item from the front of the queue; peek() gives the value of the front item without removing it; isempty() checks if the stack is empty; isfull() checks if the stack is full.",
    "Linear search tries to find an item in a sequentially arranged data type. These sequentially arranged data items known as an array or list, are accessible in incrementing memory location. Linear search compares expected data item with each of the data items in the list or array. The average-case time complexity of linear search is Ο(n) and worst-case complexity is Ο(n^2). Data in target arrays/lists need not be sorted.",
    "Both sorting techniques maintain two sub-lists, sorted and unsorted, and both take one element at a time and place it into the sorted sub-list. Insertion sort works on the current element in hand and places it in the sorted array at an appropriate location maintaining the properties of insertion sort. Whereas, selection sort searches the minimum from the",
    "Quick sort uses a divide and conquer approach. It divides the list into smaller 'partitions' using 'pivot'. The values which are smaller than the pivot are arranged in the left partition and greater values are arranged in the right partition. Each partition is recursively sorted using quick sort.",
    "Tree traversal is a process to visit all the nodes of a tree. Because, all nodes are connected via edges (links), we always start from the root (head) node. There are three ways which we use to traverse a tree In-order Traversal; Pre-order Traversal; Post-order Traversal.",
    "AVL trees are height balancing binary search trees. AVL tree checks the height of left and right sub-trees and assures that the difference is not more than 1. This difference is called the Balance Factor. BalanceFactor = height(left-subtree)  height(right-subtree).",
    "It depends on how connected the graph is. A complete undirected graph can have a maximum of nn-1 number of spanning trees, where n is the number of nodes.",
    "Heap is a special balanced binary tree data structure where the root-node key is compared with its children and arranged accordingly. A min-heap, a parent node has a key value less than its child's, and a max-heap parent node has a value greater than its child's.",
    "A recursive function is one that calls itself, directly or calls a function that in turn calls it. Every recursive function follows the recursive properties  base criteria where functions stop calling itself and progressive approach where the functions try to meet the base criteria in each iteration.",
    "Interpolation search is an improved variant of binary search. This search algorithm works on the probing position of the required value.",
    "Prefix Notation − * + a b + c d; Postfix Notation − a b + c d + *.",
    "a. Modularity i. Divide program into small functions ii. Easy to debug and maintain iii. Easy to modify; b. Reuse i. Define some operations only once and reuse them in the future; c. Easy to change the implementation.",
    "A list is a sequence of zero or more elements of a given type. The list is represented as a sequence of elements separated by a comma. A1, A2, A3…..AN Where N>0 and A is of type element.",
    "A circular linked list is a special type of linked list that supports traversing from the end of the list to the beginning by making the last node point back to the head of the list.",
    "The methods to implement stacks are: Array-based; Linked list-based.",
    "A double-ended queue is a special type of queue that allows insertion and deletion of elements at both ends.",
    "The difference between a binary tree and the threaded binary tree is that in the binary trees, the nodes are null if there is no child associated with it, and so there is no way to traverse back. But in a threaded binary tree, we have threads associated with the nodes, i.e., they are either linked to the predecessor or successor in the in-order traversal of the nodes. This helps us to traverse further or backward in the in-order traversal fashion.",
    "A priority queue is a different kind of queue, in which the next element to be removed is defined by (possibly) some other criterion. The most common way to implement a priority queue is to use a different kind of binary tree, called a heap. A heap avoids the long paths that can arise with binary search trees.",
    "A connected undirected graph is biconnected if there are no vertices whose removal disconnects the rest of the graph.",
    "NP is the class of decision problems for which a given proposed solution for a given input can be checked quickly to see if it is really a solution.",
    "A simple graph is a graph that has not more than one edge between a pair of nodes than such a graph is called a simple graph.",
  ];

  

        function myfunction(e){
          let selectedIndex = document.getElementById('form_need').value;
        let selectedAnswer = answers[selectedIndex];
        document.getElementById('form_message').innerHTML = selectedAnswer;
    }
    </script>
  </body>
</html>
